:root {
    --background-color: #f9fafb;
    --primary-color: #2563eb;
    --secondary-color: #64748b;
    --accent-color: #f59e42;
    --text-color: #1e293b;
    --heading-color: #0f172a;
    --border-color: #e5e7eb;
}

body{
    background-color: var(--accent-color);
    display:grid;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;


}

.card{
    background-color: var(--background-color);
    border-color: var(--border-color);
    width:fit-content;
    margin:3px;
 

}

